# pip install -r cpu_requirements.txt


torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
pyaudio==0.2.14
numpy==1.22.0
faster-whisper==1.0.2
soundfile==0.12.1
langid==1.1.6
TTS==0.22.0
pydub==0.25.1
openai==1.33.0
textblob==0.18.0.post0
python-dotenv==1.0.1
