{
    "voices": [
        {
            "id": "2bk7ULW9HfwvcIbMWod0",
            "name": "Female - Bianca - City girl"
        },
        {
            "id": "MwxR6MTQizZcwvekg0wc",
            "name": "Female - Carmen - Very realistic, casual, lovely"
        },
        {
            "id": "vVgPqCpkdPQacBNNIsAqI",
            "name": "Female - Default - Caroline - Sweet"
        },
        {
            "id": "nDJIICjR9zfJExIFeSCN",
            "name": "Female - Emmaline - Young British girl"
        },
        {
            "id": "JqseNhWbQb1GDNNS1Ga1",
            "name": "Female - Joanne - Pensive, introspective"
        },
        {
            "id": "b0uJ9TWzQss61d8f2OWX",
            "name": "Female - Lucy - Sweet and sensual"
        },
        {
            "id": "2zRM7PkgwBPiau2jvVXc",
            "name": "Female - Monika Sogam - Female Indian"
        },
        {
            "id": "eVItLK1UvXctxuaRV2Oq",
            "name": "Female - Sexy Villain Voice"
        },
        {
            "id": "ZAIfZW1JbeDCmunfBv4m",
            "name": "Female - Tally - Erotic, adult, sensual"
        },
        {
            "id": "L5iegTeymjgxJAU7dOrN",
            "name": "Female - Victoria - Classy British mature"
        },
        {
            "id": "Mg1264PmwVoIedxsF9nu",
            "name": "Male - Dr. Von Fusion - Crazy mad scientist"
        },
        {
            "id": "2pF3fJJNnWg1nDwUW5CW",
            "name": "Male - Eustis - Fast speaking"
        },
        {
            "id": "pgCnBQgKPGkIP8fJuita",
            "name": "Male - Jarvis - Tony Stark AI"
        },
        {
            "id": "EiNlNiXeDU1pqqOPrYMO",
            "name": "Male - John Doe - Deep"
        },
        {
            "id": "kz8mB8WAwV9lZ0fuDqel",
            "name": "Male - Nigel - Mysterious intriguing"
        },
        {
            "id": "MMHtVLagjZxJ53v4Wj8o",
            "name": "Male - Paddington - British narrator"
        },
        {
            "id": "fJE3lSefh7YI494JMYYz",
            "name": "Male - Richard Yu - Fast nerdy"
        },
        {
            "id": "NYC9WEgkq1u4jiqBseQ9",
            "name": "Male - Russell - Dramatic British TV"
        },
        {
            "id": "8qUUChhCKi1VbKWq0QPN",
            "name": "Male - Wayne - Cool, calm, deep"
        },
        {
            "id": "22FgtP4D63L7UXvnTmGf",
            "name": "Male - Wildebeest - Deep male voice"
        }
    ]
}
