# pip install -r requirements.txt

# CUDA-enabled PyTorch and related libraries
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
-f https://download.pytorch.org/whl/torch_stable.html

pyaudio
numpy
faster-whisper==1.0.2
soundfile==0.12.1
langid==1.1.6
TTS==0.22.0
pydub==0.25.1
openai==1.33.0
textblob==0.18.0.post0
python-dotenv==1.0.1
Flask
requests
fastapi
uvicorn
elevenlabs
aiohttp